*::part(shadow) {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.22);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation {
  display: flex;
  gap: 1rem;
}
