/* Light code theme */
.code-block {
  font-family: "Fira Mono", "Menlo", "Consolas", "Monaco", monospace;
  color: var(--code-default);
}
.code-tag {
  font-weight: bold;
  color: var(--code-tag);
}
.code-attr {
  font-style: italic;
  color: var(--code-attr);
}
.code-eq {
  color: var(--code-eq);
}

/* Neo-Brutalist Navigation Example Styles */
.neo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;

  margin-top: 1rem;
  padding: 1rem 2rem;

  background: var(--primary-background);
  border: var(--strong-border);
  box-shadow: var(--strong-shadow);
}
.neo-nav__logo,
.neo-nav__logo svg {
  display: block;
}
.neo-nav__links {
  display: flex;
  gap: 0.25rem 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.neo-nav__link {
  display: block;
  color: var(--primary-foreground);
  border-radius: 0.7em;
  padding: 0.5em 0;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  outline: none;
}
.neo-nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
@media (max-width: 900px) {
  .neo-nav {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
  }
  .neo-nav__links {
    flex-wrap: wrap;
  }
}
.neo-content {
  background-color: var(--secondary-background);
  border: 4px solid var(--primary-foreground);
  border-top-width: 0;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  box-shadow: 4px 4px 0 var(--primary-foreground);
  padding: 2rem;
  margin-bottom: 2rem;
  overflow: auto;
}

/* Toolbar example */
.toolbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  border: var(--strong-border);
  border-bottom-width: 0;
  border-top-left-radius: var(--strong-border-radius);
  border-top-right-radius: var(--strong-border-radius);
  padding: 1rem 1.5rem;
  box-shadow: var(--strong-shadow);

  &:has(:focus-visible) {
    &::after {
      box-sizing: border-box;
      content: "You can use arrow keys to navigate the toolbar";
      position: absolute;
      width: 100%;
      top: auto;
      left: 0;
      bottom: -1em;
      padding: 0.25em 1em;
      line-height: 1;
      background: var(--primary-foreground);
      color: var(--secondary-background);
    }
  }
}
.toolbar-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  font-size: 1.3rem;
  font-weight: 900;

  background: var(--primary-background);
  color: var(--primary-foreground);
  border: var(--control-border);
  border-radius: var(--control-border-radius);
  box-shadow: var(--control-box-shadow__default);

  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: var(--strong-shadow);
  }

  > svg {
    display: block;
  }
}

.toolbar-editor {
  margin-block-end: 2rem;
  padding: 2rem;
  overflow: auto;

  background-color: var(--secondary-background);
  border: var(--strong-border);
  border-bottom-left-radius: var(--strong-border-radius);
  border-bottom-right-radius: var(--strong-border-radius);
  box-shadow: var(--strong-shadow);

  &:focus-visible {
    outline: none;
  }
}

html {
  --default-background: #ebeadc;
  --primary-background: #fff200;
  --primary-foreground: #181818;
  --accent-foreground: #0048ff;
  --secondary-background: white;

  --code-default: #24292e;
  --code-attr: #b75501;
  --code-tag: #0451a5;
  --code-eq: #000;

  --strong-border: 4px solid var(--primary-foreground);
  --strong-shadow: 4px 4px 0 var(--primary-foreground);
  --strong-border-radius: 1.2rem;
  --control-border: 3px solid var(--primary-foreground);
  --control-border-radius: 0.6rem;
  --control-box-shadow__default: 0 0 0 #181818;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Futura", "Arial", sans-serif;
  background: var(--default-background);
  color: var(--primary-foreground);
}

:where(h1, h2, h3, h4, h5, h6, :headings) {
  text-wrap: balance;
}

h2 {
  margin-block: 4rem 2rem;
}

:where(button, a) {
  outline-offset: 2px;

  &:focus-visible {
    outline: 4px solid var(--accent-foreground);
  }
}

p {
  text-wrap: pretty;
}

pre {
  font-size: 1.1em;
  margin-block: 0;
  width: fit-content;
}

section {
  margin: 3rem auto 0 auto;
  padding: 2rem;

  @media (max-width: 900px) {
    padding: 1rem;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-block: 4rem 2rem;
    color: var(--primary-foreground);
  }
}

.container {
  max-width: 900px;
  margin-inline: auto;
  padding: 0 2rem;
}

.hero {
  background: var(--primary-background);
  color: var(--primary-foreground);
  padding-block: 3rem 2rem;
  border-bottom: 1rem solid var(--primary-foreground);
}

.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  margin: 0 0 1rem 0;
  text-decoration: underline;
  text-decoration-color: var(--secondary-background);
  text-decoration-skip-ink: none;
  text-underline-offset: -8px;
  text-decoration-thickness: 24px;
}
.hero p {
  max-width: 55ch;
  font-size: 1.3rem;
}
.hero--intro {
  display: flex;
}
.button {
  display: inline-block;
  padding: 0.75em 2em;
  font-size: 1.1rem;
  font-weight: 700;
  border: 3px solid var(--primary-foreground);
  color: var(--primary-foreground);
  text-decoration: none;
  border-radius: 0.5em;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;

  &:focus-visible {
    outline: 4px solid var(--accent-foreground);
    border-color: var(--secondary-background);
  }
}
.button--cta {
  color: var(--primary-foreground);
  border-color: var(--primary-background);
  text-decoration: underline;
  text-decoration-color: var(--accent-foreground);
  text-decoration-thickness: 4px;
  padding-inline: 0;
}

.install-command {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--primary-foreground);
  color: var(--primary-background);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  overflow: auto;

  .code-string {
    color: var(--secondary-background);
  }
}

.button--copy {
  appearance: none;
  background: transparent;
  border-color: transparent;
  color: white;
  padding: 0;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.feature-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.card {
  position: relative;
  flex: 1 1 0;

  border-radius: 1.5rem;
  padding: 2rem 1.5rem;

  background: var(--primary-background);
  color: var(--primary-foreground);
  border: var(--strong-border);
  box-shadow: var(--strong-shadow);
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 0 1rem 0;
}
.card p {
  font-size: 1.1rem;
  margin: 0;
}

kbd {
  display: inline-block;
  background: var(--primary-foreground);
  color: var(--secondary-background);
  border-radius: 0.3em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  font-family: inherit;
  margin: 2px;
  border: 2px solid var(--primary-foreground);
}

@layer utilities {
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
}
